search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 20vh;
    position: fixed;
}

search label {
    margin-bottom: 16px;
    color: #2F3C7E;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

search input {
    height: 40px;
    font-size: 24px;
    padding: 12px;
    width: 400px;
    border-radius: 8px;
    border: 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: relative;
}

.clear-btn {
    background-color: white;
    right: 16px;
    bottom: 62px;
    position: absolute;
    border: 0;
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.clear-btn img {
    width: 24px;
    height: 24px;
}